/node_modules
/public/hot
/public/storage
/public/old
/public/tempfiles
/database/seeders/UsersTableSeeder.php
/resources/views/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
